header{
    /*background: rgba(0,0,0,0.3);*/
    display: block;
    height: 155px;
    background-image: url('images/flywheel.jpg');
    width: 100%;
    padding-top: 2%;
    background-size:cover;
    background-repeat: no-repeat;
}
header h1{
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family:  Arial;
    text-transform: uppercase;
    color: white;
}
h1{
    text-align: center;
    font-family:  Arial;
    text-transform: uppercase;
    color: white;
}
h2{

    text-transform: uppercase;
}
nav{
    /*background: rgba(0,0,0,0.1);*/
    float: center;
    width: 90%;
    clear: both;

}
aside{
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgba(107,  142, 035,1);

}
aside img{
    float: left;
    clear: left;
    margin: 15% 15% 0% 15%;
    width: 70%;
    border: 2px solid #000000;


}
section{
    /*background: rgba(0,0,0,0.5)*/
    margin-left: 5px;
}

nav a{
    background-color: rgba(200,200,200,.5);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 15%;
    margin-left: 7%;
    padding: 1.5% 1% 1.5% 1%;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    cursor: pointer;
    font: inherit;
    transition: all .1s linear;

}
nav a:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
nav a:active{

    background-color: #ffffff;
    border-radius: 5px;
}
nav a:hover{

    background-color: #ffffff;
    border-radius: 5px;
}
section {
    display: inline-block;
    width: 70%;
}
.active{
    background-color: #ffffff;
    border-radius: 5px;

}
table {
    width: 80%;
    margin: 0% 0% 10% 10% ;
    font-size: small;
}
td{
    border: 1px solid #ffffff;
}
tr th {
    background: #B0C18E;
    background: -moz-linear-gradient(top, #B0C18E 0%, #7AA522 100%);
    background: -webkit-linear-gradient(#B0C18E 0%, #7AA522 100%);
    background: -o-linear-gradient(#B0C18E 0%, #7AA522 100%);
    background: linear-gradient(#B0C18E 0%, #7AA522 100%);
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 10px;
    font-family: sans-serif;
    border-radius: 2px 2px 0 0%;
    border-bottom: 2px  solid #44F309 ;
}
tr th:first-child{
    text-align: left;
}
tr th:last-child{
}
tr td{
    opacity: 0.8;
    background-color: #E9FFD4;
    text-align: center;
    padding-left: 10px;
    font-family: sans-serif;
    line-height: 25px;
}
tr td:first-child{
    text-align: left;
}
tr td:hover{
    opacity: 1;
    background-color: #FFFFFF;
}